<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Employees</title>
    </head>
    <body>
        <ul>
            {{#employees}}
            <li>
                name: {{name}}, age: {{age}}
            </li>
            {{/employees}}
        </ul>
    </body>
</html>
